.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.product-list-container {
  width: 100%;
}

.list-container p {
  width: 25%;
}

li {
  display: flex;
  justify-content: space-between;
}
